table, th, td {
    border: 1px solid black;
    border-spacing: 0;
}

.map {
    .row {
        .cell {
            height: 25px;
            width: 25px;
            border: solid black 1px;
            background-color: black;

            &.blue {
                background-color: blue;
            }
        }
    }
}